<div id="website-container" (mousemove)="onMouseMove($event)" [ngClass]="simulationType">
  <div id="header-bar">
    <div id="url-line">
      <input disabled [value]="'https://learn-accessibility.web/' + urlSuffix"/>
    </div>
    <ng-content></ng-content>
  </div>
  <div class="overlay" [ngClass]="simulationType ? simulationType : null"></div>
</div>

<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1" id="wds-colorBlindnessFilter">
  <defs>
    <filter id="deuteranomaly">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.367322 0.860646 -0.227968 0 0
            0.280085 0.672501  0.047413  0 0
           -0.011820 0.042940  0.968881  0 0
            0        0         0         1 0"/>
    </filter>
  </defs>
</svg>

<audio id="beep-sound" src="assets/beep.mp3" preload="auto" class="hidden-audio"></audio>
