#website-container{
  position: relative;
  border: 1px solid #2C2C2C;
  border-radius: 1em;
  width: 100%;
  height: fit-content;
  background-color: #F6F4E9;
}

#url-line{
  width: 100%;
  background-color: #E7E4D8;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.5em 2em;
}

#url-line input {
  width: 100%;
  background-color: #F6F4E9;
  border-color: #CBC6B5;
}

.farsighted{
  backdrop-filter: blur(4px);
}

.red-green-color-blindness{
  backdrop-filter: url(#deuteranomaly);
}

#wds-colorBlindnessFilter {
  display: none;
}

.absolute-color-blindness{
  backdrop-filter: grayscale(100%) ;
}

.tunnelvision{
}

.no-mouse{
  cursor: none;
  pointer-events: all !important;
}

.mousearea{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  pointer-events: none
}

.deafness-and-blindness {
  background-color: #2C2C2C;
  width: 100%;
  height: 100%;
}

.blindness{
  background-color: #2C2C2C;
}
