.question{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.answer-option{
  display: flex;
  gap: 1rem;
}

p{
  font-size: larger;
  margin-bottom: 1rem;
}

#quiz-container{
  margin: 2rem;
}

h1{
  margin-bottom: 2rem;
}

#completed-modal{
  display: flex;
  flex-direction: column;
}

#completed-modal button{
  align-self: end;
}

.modal-header span {
  font-size: larger;
}

.modal-body p {
  font-size: large;
}
