<div id="quiz-container">
  <h1>{{ title }}</h1>
  @if (quizForm) {
    <form [formGroup]="quizForm" (submit)="checkQuiz()">
      @for (question of questions; track question.question; let qi = $index) {
        <div class="question" [formArrayName]="'question' + qi">
          <p>{{ question.question }}</p>
          @for (answerOption of question.answerOptions; track answerOption.content; let ai = $index) {
            <div class="answer-option">
              <input class="form-check-input" [formControlName]="ai" type="checkbox" [id]="'question' + qi + 'answer' + ai"
                     [name]="'question' + qi + 'checkbox'">
              <label class="form-check-label" [for]="'question' + qi + 'answer' + ai">{{ answerOption.content }}</label>
            </div>
          }
        </div>
      }
      <button type="submit" class="btn btn-primary">Absenden</button>
    </form>
  }
</div>

<ng-template #failedQuizTemplate let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(modal)"></button>
  </div>
  <div class="modal-body">
    Du hast <b>{{ this.completionRate | percent }}</b> der Fragen richtig beantwortet. Um das Quiz abzuschließen
    benötigst du <b>{{ this.completionRateNeeded | percent }}</b>. Versuche es erneut um das Kapitel abzuschließen!
  </div>
</ng-template>

<ng-template #completedQuizTemplate let-modal>
  <div class="modal-header">
    <span>Bestanden!</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(modal)"></button>
  </div>
  <div class="modal-body" id="completed-modal">
    <p>Du hast <b>{{ this.completionRate | percent }}</b> der Fragen richtig beantwortet & damit das Quiz <b>erfolgreich
      abgeschlossen!</b></p>
    @if (this.completionRate < 1) {
      <p>
        Falls du dein Ergebnis noch verbessern möchtest, kannst du das Quiz jederzeit wiederholen.
      </p>
    } @else {
      <p>Ein perfektes Ergebnis!</p>
    }
    <p>Mit dem Ergebnis hast du <b>{{this.completionRate * this.questions.length * 5}} Punkte</b> erreicht!</p>
    <p>Um deinen Lernpfad weiterzuverfolgen klicke jetzt auf weiter.</p>
    <button type="button" class="btn btn-primary" (click)="navigateToMenu(modal)">Weiter</button>
  </div>
</ng-template>
