<div [id]="'webshop-'+ product.uniqueName" class="product-container">
  <div class="image-container">
    <img [src]="'assets/' + productForm?.value?.color?.image" [alt]="product?.name" height="130">
  </div>
  <form [formGroup]="productForm!" class="controls-container">
    <div class="title-and-price">
      <span>{{ product.name }} - </span>
      <s>{{ product.regularPrice }}€</s>
      <span class="reduced-price">{{product.reducedPrice}}€</span>
    </div>
    <div class="size-select-container">
      <label id="size-select-label">Größe</label>
      <select formControlName="size" class="form-select" aria-labelledby="size-select-label" >
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
      </select>
    </div>
    <div class="color-select-container">
      <label id="color-select-label">Farbe</label>
      <div class="color-select-value">
        @for (color of product.colors; track color) {
          <input type="radio" formControlName="color" [value]="color" class="color-select" [style.background-color]="color.color"/>
        }
      </div>
    </div>
    <button class="btn btn-primary cart-button" aria-label="cart"><ng-icon name="matShoppingCartRound"></ng-icon></button>
  </form>
</div>
