<div [id]="'webshop-'+ product.uniqueName" class="product-container">
  <div class="image-container">
    <img [src]="'assets/' + productForm?.value?.color?.image" [alt]="product ? product.name : ''" height="130">
  </div>
  <form [formGroup]="productForm!" class="controls-container">
    <div class="title-and-price">
      <span class="label-text">{{ product.name }} - </span>
      <s class="label-text">{{ product.regularPrice }}€</s>
      <span class="reduced-price label-text">{{product.reducedPrice}}€</span>
    </div>
    <div class="size-select-container">
      <label id="size-select-label" class="label-text">Größe</label>
      <select formControlName="size" class="form-select label-text" aria-labelledby="size-select-label" >
        <option class="label-text">XS</option>
        <option class="label-text">S</option>
        <option class="label-text">M</option>
        <option class="label-text">L</option>
        <option class="label-text">XL</option>
      </select>
    </div>
    <div class="color-select-container">
      <label id="color-select-label label-text">Farbe</label>
      <div class="color-select-value">
        @for (color of product.colors; track color) {
          <input type="radio" formControlName="color" [value]="color" class="color-select" [style.background-color]="color.color"/>
        }
      </div>
    </div>
    <button class="btn btn-primary cart-button" aria-label="cart"><ng-icon name="matShoppingCartRound"></ng-icon></button>
  </form>
</div>
