#nav{
  padding: 0.1vh 1.5rem;
  background-color: #558564;
  color: #2E2C2F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title{
  font-family: Monospaced, monospace;
  font-size: x-large;
  font-weight: bold;
}

#profile{
  background-color: #2E2C2F;
  border: none;
  border-radius: 16px;
  padding: 0.5em 0.7em;
}

#profile:hover{
  box-shadow: 3px 3px 2px #2E2C2F;
  background-color: #1D1B1E;
}

ng-icon{
  color: #F0EBD8;
  height: 2.5em;
  width: 2.5em;
}
