#nav {
  padding: 0.1vh 1.5rem;
  background-color: #6AA07C;
  color: #2E2C2F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-family: Monospaced, monospace;
  font-size: x-large;
  font-weight: bold;
}

#profile {
  margin: 1em 0;
}

#level{
  font-size: 1.2em;
  font-weight: bold;
}

ng-icon {
  height: 2em;
  width: 2em;
}

.end-elements{
  display: flex;
  align-items: center;
  gap: 1em;
}
