.active{
  background-color: #2C2C2C33 !important;
  border: 1px solid #2C2C2C66 !important;
}

.text-color-black{
  color: black !important;
  border: 1px solid #2C2C2C66 !important;
}

#result-row{
  border: 1px solid #2E2C2F;
  border-radius: 4px;
  padding: 1em 2em;
}

.text-justify{
  text-align: justify;
  font-size: larger;
  padding: 0 3em;
}

#contrast-exercise-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 2em;
  height: 75vh;
}

#simulation-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}

app-browser-simulation{
  min-width: 100%;
}

app-code-editor{
  width: 50%;
  max-height: 100%;
}

.code-exercise-container{
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding-top: 1em;
}

.simulation-options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

select{
  width: auto;
}

button{
  margin-top: 1em;
}

.top-line{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon-button{
  display: flex;
  align-items: center;
  gap: 3px;
}

.help-icon{
  cursor: pointer;
  padding-right: 2em;
}

.info-popover{
  width: 100vw;

}

.info-and-select{
  display: flex;
  align-items: center;
}
