<ul class="nav-tabs" ngbNav #nav="ngbNav" [(activeId)]="activeTab">
  <li class="w-50" [ngbNavItem]="1">
    <a ngbNavLink class="text-center fs-4 text-color-black">Kontrast-Berechner</a>
    <ng-template ngbNavContent>
      <div class="d-flex align-items-center w-100">
        <div class="w-50 p-5 d-flex flex-column gap-4">
          <p class="text-justify">
            Im Bereich der Farbsehschwäche muss vor Allem auf den Kontrast zwischen Vorder- und Hintergrund geachtet
            werden, da durch das Fehlen der Farbsehfähigkeit der Unterschied zwischen Farben nicht mehr so präsent ist.
          </p>
          <p class="text-justify">Je nach Schriftgröße (es wird zwischen < 18 und > 18 unterschieden), sollten daher
            bestimmte Kontrastverhältnisse eingehalten werden. Mit einem Kontrast von 4.5:1 bist du immer auf der
            sicheren Seite. Falls es nicht anders geht, solltest du dennoch einen Kontrast von 3:1 einhalten.
          </p>
          <p class="text-justify">Hier kannst du ein bisschen ausprobieren, wie sich das Kontrastverhältnis bei
            verschiedenen Farben auswirkt. <br>
            Wenn du genug davon hast, kannst du zur Aufgabe weiter gehen.</p>
        </div>
        <div id="contrast-component" class="d-flex flex-column gap-4 w-50 p-5 align-items-center">
          <app-contrast-tryout
            [contrastRatio]="contrastRatioTryout"
            [(foregroundColor)]="foregroundColorTryout"
            [(backgroundColor)]="backgroundColorTryout"
            [fontSize]="'2em'"></app-contrast-tryout>
          <div id="result-row" class="w-75 fs-4 text-center" [style.color]="foregroundColorTryout"
               [style.background-color]="backgroundColorTryout">
            Ich bin {{ contrastRatioTryout < 4.5 ? 'NICHT' : '' }} barrierefrei!
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li class="w-50" [ngbNavItem]="2">
    <a ngbNavLink class="text-center fs-4 text-color-black">Aufgabe</a>
    <ng-template ngbNavContent>
      <div id="contrast-exercise-container">
        <div class="top-line">
          <button class="btn btn-outline-info icon-button" (click)="location.back()"> <ng-icon name="matArrowBack"></ng-icon> Zurück</button>
          <div class="simulation-options">
            <app-contrast-tryout
              [contrastRatio]="contrastRatioExercise"
              [(foregroundColor)]="foregroundColorExercise"
              [(backgroundColor)]="backgroundColorExercise"
              [boxSize]="'3em'"></app-contrast-tryout>
          <select [(ngModel)]="selectedSimulation" class="form-select">
            @for (simulation of visualBarriersSimulation; track simulation) {
              <option [ngValue]="simulation">{{ simulation.name }}</option>
            }
          </select>
          </div>
        </div>
        <div class="code-exercise-container">
          <app-code-editor (checkAnswer)="setCorrectFontSize($event)" [explanationText]="explanation"
                           [givenCode]="codeExample"></app-code-editor>
          <div id="simulation-container">
            <app-browser-simulation [simulationType]="selectedSimulation?.id" [urlSuffix]="'webshop'">
              <app-webshop></app-webshop>
            </app-browser-simulation>
          </div>
        </div>
        @if (completedExercise) {
          <div>
            <button class="btn btn-primary" (click)="navigateToMenu()">Weiter</button>
          </div>
        }
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
