<div id="baking-page-container">
  <h1>Rezept für Schokoladenkekse</h1>
  <video controls width="500">
    <source src="assets/cookies.mp4" type="video/mp4"/>
  </video>
  <div id="ingredients">
    <span>Zutaten:</span>
    <ul>
      <li>200g Mehl</li>
      <li>100g Zucker</li>
      <li>100g brauner Zucker</li>
      <li>150g Butter (weich)</li>
      <li>1 Ei</li>
      <li>1 TL Vanillezucker</li>
      <li>1 TL Backpulver</li>
      <li>200g Schokoladenstückchen</li>
      <li>Eine Prise Salz</li>
    </ul>
  </div>
  <div id="timer">
    <button type="button" class="btn btn-outline-info" (click)="startTimer()"><ng-icon name="matAlarm"></ng-icon> Timer Starten</button>
    <audio id="ding-audio" src="assets/timer-up-ding.mp3" preload="auto" class="hidden-audio"></audio>
  </div>
</div>
