#lesson1-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas: 'exOne . exThree'
                        '. button .'
                        'exTwo . submit';
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}

#click-button-exercise {
  grid-area: exOne;
  padding-top: 5em;
  justify-self: center;
}

#remember-text-exercise {
  grid-area: exTwo;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.click-me-button{
  grid-area: button;
  align-self: center;
  justify-self: center;
  font-size: large;
  padding: 1em 2em;
}

.unclickable {
  cursor: none !important;
  background-color: #9F9FED !important;
}

#find-text-exercise {
  grid-area: exThree;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

#submit {
  grid-area: submit;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2em 2em 0;
}

#submitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  align-self: end;
}

.paragraph {
  width: 30vw;
}

.textarea {
  width: 95%;
}

.send-icon {
  transform: translateY(-1.5em);
  margin-left: calc(100% - 3.5em);
  cursor: pointer;
}

.unreadable-text{
  color: whitesmoke;
  font-size: small;
}

.exerciseThreeText {
  width: 10vw;
  position: absolute;
  right: 2vw;
  bottom: 10vh;
}

.exerciseThreeText::selection {
  background-color: #f6efd1;
}

.question-container{
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.help-icon{
  cursor: pointer;
}

.info-popover{
  font-family: Monospaced, monospace;
}

.info-popover p {
  font-size: small;
}

.popover {
  max-width: 25vw;
}
