<div id="info-popover">
  <p>Falls du nicht weiter weißt, kannst du einen der unten stehenden Tipps zur Rate ziehen:</p>
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
      <h1 ngbAccordionHeader>
        <button ngbAccordionButton>Tipp 1</button>
      </h1>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <p>Schau dir erstmal an, welche Farben du in diesem Beispiel ändern kannst. Die Anpassung von nur einer dieser
            Farben führt zum gewünschten Ergebnis!</p>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h1 ngbAccordionHeader>
        <button ngbAccordionButton>Tipp 2</button>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <p>Ändere die Farbe in der Klasse ".reduced-price". <br/><br/> Du kannst zum Beispiel folgenden HEX-Code
              verwenden: #aa0300</p>
          </div>
        </div>
      </h1>
    </div>
  </div>
</div>
