<div id="content-container">
  <h1>{{title}}</h1>
  <app-browser-simulation id="website" [urlSuffix]="urlSuffix" [simulationType]="selectedSimulation">
    <ng-container [ngTemplateOutlet]="usecase"></ng-container>
  </app-browser-simulation>
  <div id="simulation-options-container">
    @for (barrier of barriers; track barrier) {
      <button class="btn btn-primary simulation-button" [ngClass]="barrier.selected ? 'activated' : 'deactivated'" (click)="toggleSelected(barrier)">{{barrier.name}}</button>
      <p class="panel" [style.max-height]="barrier.selected ? '100px' : 0" [style.overflow]="barrier.selected ? 'visible' : 'hidden'">{{barrier.explanation}}</p>
    }
  </div>
</div>

<ng-template #usecase>
  @if (urlSuffix === 'webshop'){
  <app-webshop></app-webshop>
  } @else if (urlSuffix === 'cookies'){
    <div>COOKIES PAGE!!!</div>
  } @else if (urlSuffix === 'lexipedia'){
    <div>LEXIPEDIA ARTICLE</div>
  }
</ng-template>
