#home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
#start-button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
  font-size: xx-large;
  background-color: #2E2C2F;
  color: antiquewhite;
  border-radius: 6px;
  height: 2em;
  width: 10vw;
}

#start-button-text{
  margin-right: 0.25em;
}

.paragraph{
  font-size: x-large;
}
