#home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
#start-button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
  font-size: xx-large;
  height: 2em;
  width: 10vw;
  padding-right: 0.75em;
}

.paragraph{
  font-size: x-large;
}
