#fontsize-exercise-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2em;
  height: 75vh;
}

#simulation-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}

app-browser-simulation{
  min-width: 100%;
}

app-code-editor{
  width: 50%;
  max-height: 100%;
}

.code-exercise-container{
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding-top: 1em;
}

.simulation-options{
  display: flex;
  gap: 1em;
  align-items: center;
}

.icon-button{
  display: flex;
  align-items: center;
}

.top-line{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.help-icon{
  cursor: pointer;
  padding-right: 2em;
}

.info-popover{
  width: 100vw;

}
