#fontsize-exercise-container{
  display: flex;
  padding: 2em;
  gap: 3em;
  height: 75vh;
}

#simulation-container{
  width: 50%;
  height: 100%;
}

app-browser-simulation{
  min-width: 100%;
}

app-code-editor{
  width: 50%;
  max-height: 100%;
}
